@model IEnumerable<TheManOnTheMoon2.Models.Category>

    @{
        ViewBag.Title = "GetAllProductCategories";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!-- light-box -->
<script type="text/javascript" src="~/Scripts/Layout-StoreFront/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Layout_StoreFront/jquery.fancybox.css" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

    });
</script>

<h2>Shop</h2>
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Check out our Categories!</h3>

                @foreach (var category in Model)
                {
                    
                    var imageUrl=string.Empty;

                    if (string.IsNullOrEmpty(category.Image_Main))
                    {
                        imageUrl = "../../Img/Front/Image_NA.jpg";
                    }
                    else
                    {
                        imageUrl = "../../Images/"+@category.Image_Main;
                    }
                    <div class="col-md-4 col-sm-1 mx-1 my-1">
                        
                        <a href="@Url.Action("Products", "Products", new { searchBy = category.GetType().Name,name=category.Name }, null)">
                        <div class="card">
                            <img src="@imageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@category.Name</h5>
                            </div>
                       
                      
                        </div>
                             </a>

                       
                    </div>
                }


            </div>
        
        </div>
    </div>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
