@model IEnumerable<ManOnTheMoon.Models.Category>

    @{
        ViewBag.Title = "GetAllProductCategories";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!-- light-box -->
<script type="text/javascript" src="~/Scripts/Layout-StoreFront/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Layout_StoreFront/jquery.fancybox.css" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

    });
</script>

<h2>GetAllProductCategories</h2>
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Our Experiance</h3>

                @foreach (var category in Model)
                {

                    <div class="col-md-4 team1">
                        <div class="img_section magnifier2">
                            <a class="fancybox" href="" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                <img src="@category.Category_Image_Url" class="img-responsive" alt=""><span> </span>
                                <div class="img_section_txt">
                                    @category.Name;
                                    

                                </div>
                            </a>
                        </div>
                    </div>
                }


            </div>
        
        </div>
    </div>
</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
