@model IEnumerable<ManOnTheMoon.Models.Category>

    @{
        ViewBag.Title = "GetAllProductCategories";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!-- light-box -->
<script type="text/javascript" src="~/Scripts/Layout-StoreFront/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Layout_StoreFront/jquery.fancybox.css" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox();

    });
</script>

<h2>GetAllProductCategories</h2>
<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row ex_box">
                <h3 class="m_2">Our Experiance</h3>

                @foreach (var cat in Model)
                {
                    <div class="col-md-4 team1">
                        <div class="img_section magnifier2">
                            <a class="fancybox" href="images/e1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                <img src="images/e1.jpg" class="img-responsive" alt=""><span> </span>
                                <div class="img_section_txt">
                                    Duis aute irure dolor
                                </div>
                            </a>
                        </div>
                    </div>
                }



                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e2.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e3.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row ex_box">
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e4.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e4.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e5.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e5.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e6.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e6.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row ex1_box">
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e7.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e7.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e8.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e8.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 team1">
                    <div class="img_section magnifier2">
                        <a class="fancybox" href="images/e9.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                            <img src="images/e9.jpg" class="img-responsive" alt=""><span> </span>
                            <div class="img_section_txt">
                                Duis aute irure dolor
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Name)*@
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
